.img-fluid {
    display: block;
    margin: auto;
}

.row {
    justify-content: space-evenly;
}

h1{
    text-align: center;
}

a {
    color: white;
}

.btnP {
    margin-left: 50%;
}

body{
    background: url(../img/Fondo.png);
    margin: auto;
    display: block;
    background-position: center;
    background-color:peachpuff
}

section p {
    color: black;
    border-color: white;
    border: 5px;
}
